@section Scripts {
    @Scripts.Render("~/bundles/application")
}

<div>
    <h1>My Little Pathfinder</h1>
    <br />
    <button id="CalcBtn">Calculate Path</button>
    <br />
    <div id="gridCanvas"></div>
</div>
