@section Scripts {
    @Scripts.Render("~/bundles/application")
}

<div>
    <h1>My Little Pathfinder</h1>
    
    <fieldset>
        <legend>Grid Parameters</legend><br/>
        <div style="width:100%;"><label for="gridX">Grid Width</label><input id="gridX" type="text"/></div>
        <div style="width:100%;"><label for="gridX">Grid Height</label><input id="gridY" type="text"/></div>
    </fieldset>
    <br/>
    <div id="gridCanvas"></div>
</div>


